button {
    padding: 0.85rem 1.2rem 0.65rem 1.2rem;
    outline: none;
    box-shadow: none;
    font-size: 0.8rem;
    cursor: not-allowed;
    pointer-events: all !important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}


.form-control {
    padding: .6rem .75rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.form-control:focus,
button:focus,
button:active {
    outline: none;
    box-shadow: none;
}