<app-todoform #formchild (todoItemCreated)="todoItemAdded($event)"
  (todoItemEdited)="onEditTodoItem($event)"></app-todoform>
  <div *ngIf="todolistAction$ | async; let result">
    <!-- Mostrar resultados o realizar otras acciones aquí -->
  </div>
<div class="card border-0">
  <ul class="list-group">
    <li class="list-group-item m-0 position-relative border-0">
      <ul class="top-links">
        <li class="text-muted">{{ pendingTask?.length }} items Activos</li>
        <li class="text-muted"> - </li>
        <li class="text-muted">{{ completeTask?.length }} items Completados</li>
        <li>
          <div class="nav nav-tabs border-0 px-5 mx-4" id="nav-tab" role="tablist">
            <button class="nav-link text-body border-0 active" id="nav-all-tab" data-bs-toggle="tab"
              data-bs-target="#nav-all" Aria-selected="true">Todos</button>
            <button class="nav-link text-body border-0" id="nav-active-tab" data-bs-toggle="tab"
              data-bs-target="#nav-active" aria-selected="false">Activo</button>
            <button class="nav-link text-body border-0" id="nav-completed-tab" data-bs-toggle="tab"
              data-bs-target="#nav-completed" aria-selected="false">Completado</button>
          </div> 
        </li>
        <li (click)="onDeleteTodoItemCompleted()" style=" cursor: pointer;">Borrar Completados</li>
      </ul>
    </li>

    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">
        <app-todoitem [todolist]="todo" (updateItem)="onUpdateTodoItem($event)" (deleteItem)="onDeleteTodoItem($event)"
          (editItem)="onEditItem($event)" >
          <p class="text-danger text-center py-3 m-0" *ngIf="!todo?.length">No se encontraron tareas...</p>
        </app-todoitem>
      </div>
      <div class="tab-pane fade" id="nav-active" role="tabpanel" aria-labelledby="nav-active-tab">
        <app-todoitem [todolist]="pendingTask" (updateItem)="onUpdateTodoItem($event)"
          (deleteItem)="onDeleteTodoItem($event)" (editItem)="onEditItem($event)">
          <p class="text-danger text-center py-3 m-0" *ngIf="!pendingTask?.length">No se encontraron tareas Activas...</p>
        </app-todoitem>
      </div>
      <div class="tab-pane fade" id="nav-completed" role="tabpanel" aria-labelledby="nav-completed-tab">
        <app-todoitem [todolist]="completeTask" (updateItem)="onUpdateTodoItem($event)"
          (deleteItem)="onDeleteTodoItem($event)">
          <p class="text-danger text-center py-3 m-0" *ngIf="!completeTask?.length">No se encontraron tareas Completadas...</p>
        </app-todoitem>
      </div>
    </div>
  </ul>

  <!-- <div *ngIf="!todo" class="my-5 py-5">
    <p class="text-primary text-center m-0">{{ errorMsg }}</p>
  </div> -->
</div>